/*__________CLIENT__________*/
// background
$bg-1: #e8f5fb;
$bg-2: #009eac;

// gray
$gray-1: #f0f3f4;
$gray-2: #868e96;
$gray-3: #e9ecef;
$gray-4: #ced4da;

// green
$green-1: #d3f9d8;
$green-2: #2f9e44;

// yellow
$yellow-1: #ffe066;

//link
$link-1: #4dabf7;

// button
$btn-1: #dc6e3c;

/*__________ADMIN__________*/
// nav menu
$nav-1: #1d2939;
$nav-1-hover: #141c27;
$nav-1-sub: #192331;
$nav-2: #959ea8;
$nav-2-hover: #00ddbc;

//header
$admin-header-1: #00b297;
$admin-header-1-hover: #00ddbc;
$admin-header-2: #359fff;

//hamburger
$menu-icon: #343a40;
$menu-icon-border: #ced4da;

//icon
$custom-icon: #495057;

//label
$label-1: #333333;

//button
$button-primary: #00b297;
$button-secondary: #808080;

//error
$error-bg: #ffe3e3;
$error-text: #f03e3e;

//border
$border-dashed: #959595;
